<div class="ui top menu computer only grid">
  <div class="item" (click)="route = 0" [routerLink]="['']">
    <img
      src="https://www.dualroots.com/assets/images/logo/logo-dark.png"
      class="wx-100"
    />
  </div>
  <a
    class="item"
    [ngClass]="{ active: route == 0 }"
    (click)="route = 0"
    [routerLink]="['']"
    >Home</a
  >
  <a
    class="item"
    [ngClass]="{ active: route == 1 }"
    (click)="route = 1"
    [routerLink]="['about']"
    >About</a
  >
  <a
    class="item"
    [ngClass]="{ active: route == 2 }"
    (click)="route = 2"
    [routerLink]="['contact']"
    >Contact</a
  >
  <a
    class="item"
    [ngClass]="{ active: route == 3 }"
    (click)="route = 3"
    [routerLink]="['grid']"
    >Grid</a
  >
</div>
<router-outlet class="h-outlet"></router-outlet>
